/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: tomato;
}

section{
    padding-top: 2rem;
}

.container{
    width: 80%;
    margin: 0 auto; 
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 7 - 1rem);
    margin-right: 1rem;
    margin-bottom: 2rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: red;
}

.normal-number{
    background-color: steelblue;
}

.fizz{
    background-color: greenyellow;
}

.buzz{
    background-color: teal;
}

.fizz-buzz{
    background-color: violet;
}

.hidden{
    display: none;
}

.show{
    display: block;
}